<div class="menu">
    <ul id="menu-content" class="menu-content collapse in">
        <li data-toggle="collapse" data-target="#medidas" class="collapsed active">
            <a href="#">
                <i class="fa fa-gavel"></i> Medidas
            </a>
        </li>
        <ul class="sub-menu collapse" id="medidas">
            <li><a href="@Url.Action("Cadastro", "Medidas")"><i class="fa fa-plus-circle"></i>Cadastrar</a></li>
            <li><a href="#"><i class="fa fa-print"></i>Imprimir</a></li>
            <li><a href="#"><i class="fa fa-lock"></i>Bloquear</a></li>
            <li><a href="#"><i class="fa fa-check-circle"></i>Aprovar</a></li>
        </ul>
    </ul>
</div>